<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Investigation - OSINT Notebook</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1>OSINT Notebook</h1>
        <a href="/" class="button"> Dashboard</a>
    </header>
    <main>
        <section class="form-container">
            <h2>Create Investigation</h2>
            <p>Start a new OSINT research case.</p>
            
            <form>
                <label for="name" >
                    Investigation Name
                </label>
                <input
                    type="text"
                    id="name"
                    name="name"
                    placeholder="Example Company"
                    required
                >

                <label for="description">
                    Description
                </label>
                <textarea name="description" id="description placeholder="What is this investigation about?" rows="5"></textarea>
                <button type="submit">Create Investigation</button>

            </form>
        </section>
    </main>
</body>
</html>